html, body {
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  font-size: 16px;
  font-family: Apercu, "Source Sans Pro", system,system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F6F6F8;
}

code {
  font-family: Apercu, "Source Sans Pro", system,system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
}


.layout {
  margin: 0;
}

.boxContainer { 
  width: 90%;
  padding: 0 5% 0 5%;
  height: auto;
  display: flex;
  justify-content: center;
}

.highlightBoxContainer { 
  width: 90%;
  padding: 0 5% 0 5%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.moduleContainer {
  width: 98%;
  margin: 0 1% 0 1%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}

.sunContainer {
  width: 98%;
  margin: 0 1% 0 1%;
}

.compassContainer {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px 0 0 0;
}

.compassContainer img {
    width: 4vw;
    margin-right: 10px;
}

.compassContainer h3 {
  font-size: 4vw;
  padding: 0 0 0 0;
  font-weight: 100;
}

/* Small devices */
@media (min-width: 480px) { 
}

/* Medium devices */
@media (min-width: 768px) { 

}

/* Large devices  */
@media (min-width: 992px) { 
  
}

/* Larger devices  */
@media (min-width: 1200px) { 

  .moduleContainer {
    width: 63%;
    margin: 0 1% 0 1%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
  }

  .sunContainer {
    width: 33%;
    margin: 0 1% 0 1%;
  }

  .compassContainer img {
    width: 2vw;
    margin-right: 10px;
}

.compassContainer h3 {
  font-size: 2vw;
  padding: 0 0 0 0;
  font-weight: 100;
}

}