.highlightContainer {
    width: 85%;
    height: 80%;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);    
}

#windStatus {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
